<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{48} - %msg%n</pattern>
        </encoder>
    </appender>

    <root name="org.alexside.like.engine" level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="io.netty" level="WARN"/>
    <logger name="com.datastax" level="WARN"/>
    <logger name="org.apache.commons" level="WARN"/>
</configuration>